In [23]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [24]:
# Start and End date Variables
start = '2020-12-01'
end = '2021-04-30'

# Remember to input Ticker symbol in all caps
stock_list = ['MSFT']

for i in stock_list:
    i = yf.download(i , start, end, progress = False)
# msft_df = yf.download('msft', 
#                       start='2021-01-01', 
#                       end='2021-12-31', 
#                       progress=False)

In [25]:
msft_df = yf.download('MSFT',
                      start='2020-12-01', 
                      end='2021-04-30', 
                      progress=False)

msft_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,214.509995,217.320007,213.350006,216.210007,214.412735,30904500
2020-12-02,214.880005,215.470001,212.800003,215.369995,213.579697,23724500
2020-12-03,214.610001,216.380005,213.649994,214.240005,212.459106,25120900
2020-12-04,214.220001,215.380005,213.179993,214.360001,212.578094,24666000
2020-12-07,214.369995,215.539993,212.990005,214.289993,212.508682,24620000
...,...,...,...,...,...,...
2021-04-23,257.880005,261.510010,257.269989,261.149994,259.575653,21462600
2021-04-26,261.660004,262.440002,260.170013,261.549988,259.973236,19763300
2021-04-27,261.579987,263.190002,260.119995,261.970001,260.390686,31014200
2021-04-28,256.079987,256.540009,252.949997,254.559998,253.025360,46903100
2021-04-29,255.460007,256.100006,249.000000,252.509995,250.987701,40589000

In [33]:
dis_df = yf.download('DIS',
                      start='2020-12-01', 
                      end='2021-04-30', 
                      progress=False)

dis_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,149.570007,151.399994,149.000000,149.440002,149.440002,8825500
2020-12-02,149.490005,154.009995,148.339996,153.610001,153.610001,10601900
2020-12-03,153.449997,154.440002,152.130005,153.240005,153.240005,9063200
2020-12-04,153.690002,154.679993,152.809998,154.139999,154.139999,6033300
2020-12-07,153.179993,153.880005,152.259995,153.679993,153.679993,6815500
...,...,...,...,...,...,...
2021-04-23,182.350006,183.899994,181.960007,183.020004,183.020004,6075500
2021-04-26,183.960007,185.600006,183.259995,184.270004,184.270004,6178300
2021-04-27,184.990005,185.809998,184.149994,184.639999,184.639999,4870000
2021-04-28,184.789993,184.789993,182.820007,183.389999,183.389999,5199300
2021-04-29,184.800003,185.550003,182.750000,185.330002,185.330002,5958300

In [27]:
axp_df = yf.download('AXP',
                      start='2020-12-01', 
                      end='2021-04-30', 
                      progress=False)

axp_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,120.320000,122.570000,119.849998,119.930000,118.548004,3583400
2020-12-02,119.279999,122.849998,118.900002,122.330002,120.920341,3271900
2020-12-03,122.849998,123.949997,122.120003,123.120003,121.701241,4285100
2020-12-04,124.349998,125.320000,123.849998,125.040001,123.599113,5048600
2020-12-07,124.510002,124.870003,122.629997,123.940002,122.511795,4253700
...,...,...,...,...,...,...
2021-04-23,141.539993,144.979996,140.679993,144.330002,143.597412,6395300
2021-04-26,146.800003,151.119995,145.559998,150.339996,149.576889,4821100
2021-04-27,150.699997,150.880005,148.850006,150.360001,149.596802,2692100
2021-04-28,150.679993,153.460007,149.440002,152.539993,151.765732,2584500
2021-04-29,153.850006,155.080002,152.089996,154.630005,153.845139,2636000

In [31]:
axp_df.to_csv("AXP_stocks.csv")

In [34]:
dis_df.to_csv("DIS_stocks.csv")

In [35]:
msft_df.to_csv("MSFT_stocks.csv")