In [1]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [2]:
msft_df = yf.download('MSFT',
                      start='2021-01-01', 
                      end='2021-11-30', 
                      progress=False)

msft_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,222.529999,223.000000,214.809998,217.690002,215.880432,37130100
2021-01-05,217.259995,218.520004,215.699997,217.899994,216.088654,23823000
2021-01-06,212.169998,216.490005,211.940002,212.250000,210.485641,35930700
2021-01-07,214.039993,219.339996,213.710007,218.289993,216.475433,27694500
2021-01-08,218.679993,220.580002,217.029999,219.619995,217.794388,22956200
...,...,...,...,...,...,...
2021-11-19,342.640015,345.100006,342.200012,343.109985,343.109985,21942200
2021-11-22,344.619995,349.670013,339.549988,339.829987,339.829987,31031100
2021-11-23,337.049988,339.450012,333.559998,337.679993,337.679993,30427600
2021-11-24,336.279999,338.160004,333.910004,337.910004,337.910004,21661300
2021-11-26,334.350006,337.929993,328.119995,329.679993,329.679993,24217200

In [3]:
dis_df = yf.download('DIS',
                      start='2021-01-01', 
                      end='2021-11-30', 
                      progress=False)

dis_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,182.259995,182.589996,174.729996,177.679993,177.679993,13426600
2021-01-05,176.199997,180.339996,176.199997,178.440002,178.440002,7771800
2021-01-06,178.320007,181.610001,177.279999,179.119995,179.119995,7517800
2021-01-07,179.500000,179.949997,177.580002,178.580002,178.580002,7300800
2021-01-08,178.809998,180.020004,176.600006,178.690002,178.690002,7894500
...,...,...,...,...,...,...
2021-11-19,155.020004,155.210007,152.770004,154.000000,154.000000,16738800
2021-11-22,153.229996,155.820007,152.570007,154.160004,154.160004,12790400
2021-11-23,153.839996,154.250000,150.190002,151.029999,151.029999,17382900
2021-11-24,150.690002,151.410004,148.800003,151.339996,151.339996,14123700
2021-11-26,146.800003,148.850006,145.850006,148.110001,148.110001,12027700

In [4]:
axp_df = yf.download('AXP',
                      start='2021-01-01', 
                      end='2021-11-30', 
                      progress=False)

axp_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,121.300003,121.800003,116.849998,118.040001,116.679779,3472100
2021-01-05,118.260002,119.279999,117.099998,118.669998,117.302521,2112700
2021-01-06,121.000000,124.730003,120.809998,123.059998,121.641930,5861500
2021-01-07,124.099998,125.690002,117.349998,121.660004,120.679756,8696600
2021-01-08,122.070000,122.199997,119.519997,121.779999,120.798782,2934500
...,...,...,...,...,...,...
2021-11-19,173.729996,175.270004,171.839996,173.539993,173.539993,4456500
2021-11-22,174.990005,175.250000,170.889999,170.899994,170.899994,4651700
2021-11-23,171.300003,171.949997,167.830002,170.850006,170.850006,5890300
2021-11-24,168.479996,171.979996,167.899994,171.610001,171.610001,3590600
2021-11-26,165.089996,165.240005,154.500000,156.820007,156.820007,6804200

In [5]:
bbby_df = yf.download('BBBY',
                      start='2021-01-01', 
                      end='2021-11-30', 
                      progress=False)
bbby_df

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-01-04  17.969999  18.590000  17.700001  18.030001  18.030001  13984900
2021-01-05  18.030001  19.889999  17.930000  19.760000  19.760000  13674400
2021-01-06  20.260000  21.570000  20.160000  21.030001  21.030001  19065700
2021-01-07  17.940001  19.580000  17.750000  18.730000  18.730000  37425800
2021-01-08  19.350000  19.520000  18.740000  18.940001  18.940001  11213800
...               ...        ...        ...        ...        ...       ...
2021-11-19  22.549999  24.049999  22.500000  23.250000  23.250000   6974200
2021-11-22  23.410000  24.430000  22.549999  24.010000  24.010000   8179100
2021-11-23  23.549999  24.740000  21.530001  22.270000  22.270000   7681900
2021-11-24  21.379999  22.480000  21.309999  22.290001  22.290001   3714600
2021-11-26  21.290001  21.490000  20.260000  20.900000  20.900000   3803800

[228 rows x 6 columns]