In [1]:
# Dependencies
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [2]:

# Start and End date Variables
start_time = '2020-12-1'
end_time = '2021-4-30'

# Remember to input Ticker symbol in all caps
MARA_df = yf.download('MARA', 
                      start_time, 
                      end_time, 
                      progress=False)
MARA_df

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-01   5.860000   6.800000   5.550000   6.190000   6.190000  35822300
2020-12-02   5.980000   6.010000   5.460000   5.760000   5.760000  15836100
2020-12-03   5.960000   6.180000   5.660000   5.910000   5.910000  25417500
2020-12-04   5.760000   5.900000   5.370000   5.400000   5.400000  22191100
2020-12-07   5.400000   6.040000   5.390000   5.510000   5.510000  21467800
...               ...        ...        ...        ...        ...       ...
2021-04-23  29.090000  32.709999  28.360001  32.299999  32.299999  21697800
2021-04-26  34.919998  36.320000  33.259998  34.139999  34.139999  20890200
2021-04-27  35.099998  35.400002  33.779999  34.119999  34.119999  12994300
2021-04-28  34.180000  37.919998  33.580002  37.639999  37.639999  20558200
2021-04-29  36.099998  36.639999  33.799999  34.259998  34.259998  15562100

[103 rows x 6 columns]

In [3]:
SONY_df = yf.download('SONY', 
                      start_time, 
                      end_time, 
                      progress=False)
SONY_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,94.139999,94.820000,93.959999,94.680000,94.680000,1240200
2020-12-02,92.389999,93.349998,92.160004,92.620003,92.620003,1188400
2020-12-03,93.800003,94.300003,93.580002,93.830002,93.830002,754600
2020-12-04,93.900002,94.410004,93.800003,94.400002,94.400002,570100
2020-12-07,93.000000,93.620003,92.940002,93.360001,93.360001,901400
...,...,...,...,...,...,...
2021-04-23,109.790001,110.330002,109.389999,109.940002,109.940002,428500
2021-04-26,109.000000,109.699997,108.849998,108.919998,108.919998,536900
2021-04-27,106.500000,107.699997,105.360001,106.669998,106.669998,1559200
2021-04-28,106.400002,106.419998,103.129997,104.489998,104.489998,1735200
2021-04-29,105.419998,105.489998,104.110001,104.849998,104.849998,908800

In [4]:
EA_df = yf.download('EA',
                      start_time, 
                      end_time, 
                      progress=False)
EA_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,127.580002,128.000000,125.660004,127.239998,126.780678,2826200
2020-12-02,127.029999,129.750000,126.480003,129.539993,129.072372,1905700
2020-12-03,130.500000,130.869995,128.179993,128.380005,127.916565,2352200
2020-12-04,126.419998,129.149994,126.250000,128.690002,128.225433,2743100
2020-12-07,129.190002,130.979996,128.880005,130.839996,130.367676,2671200
...,...,...,...,...,...,...
2021-04-23,142.520004,143.600006,140.839996,143.139999,142.800125,2365300
2021-04-26,143.630005,145.389999,143.039993,143.789993,143.448578,1749200
2021-04-27,144.360001,144.429993,142.500000,143.460007,143.119370,2159500
2021-04-28,144.089996,144.949997,143.320007,143.990005,143.648102,1453500
2021-04-29,144.300003,146.720001,143.490005,146.339996,145.992508,1698700

In [5]:
AMC_df = yf.download('AMC',
                      start_time, 
                      end_time, 
                      progress=False)
AMC_df

             Open   High    Low  Close  Adj Close    Volume
Date
2020-12-01   4.43   4.43   4.09   4.15       4.15  12130100
2020-12-02   4.08   4.34   3.95   4.32       4.32  11847600
2020-12-03   4.01   4.22   3.50   3.63       3.63  66080900
2020-12-04   3.75   3.76   3.30   3.51       3.51  33157300
2020-12-07   3.45   3.74   3.33   3.56       3.56  20503900
...           ...    ...    ...    ...        ...       ...
2021-04-23  10.09  10.38   9.96  10.16      10.16  27465600
2021-04-26  10.69  11.96  10.57  11.50      11.50  78592900
2021-04-27  11.68  12.22  11.22  11.46      11.46  51629800
2021-04-28  10.85  11.39  10.65  10.85      10.85  39720500
2021-04-29  10.95  11.04  10.09  10.20      10.20  37782900

[103 rows x 6 columns]

In [6]:
GME_df = yf.download('GME',
                      start_time, 
                      end_time, 
                      progress=False)
GME_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,17.110001,17.400000,15.760000,15.800000,15.800000,12653900
2020-12-02,15.700000,16.680000,15.380000,16.580000,16.580000,7883400
2020-12-03,16.480000,16.639999,15.870000,16.120001,16.120001,6295000
2020-12-04,16.299999,17.290001,16.260000,16.900000,16.900000,8972700
2020-12-07,17.000000,17.500000,16.219999,16.350000,16.350000,7386300
...,...,...,...,...,...,...
2021-04-23,149.000000,153.660004,144.699997,151.179993,151.179993,4029100
2021-04-26,150.979996,174.679993,148.759995,168.929993,168.929993,10532100
2021-04-27,183.550003,188.000000,173.169998,177.770004,177.770004,8932700
2021-04-28,172.100006,181.979996,166.029999,178.580002,178.580002,5788900
2021-04-29,176.559998,180.860001,170.750000,176.190002,176.190002,3760300

In [7]:
VOO_df = yf.download('VOO',
                      start_time, 
                      end_time, 
                      progress=False)
VOO_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,335.920013,337.799988,335.320007,336.299988,331.537964,3224200
2020-12-02,335.220001,337.109985,334.649994,337.010010,332.237915,2270300
2020-12-03,336.910004,338.299988,335.880005,336.910004,332.139343,2851100
2020-12-04,337.500000,339.839996,337.450012,339.809998,334.998260,2907000
2020-12-07,339.070007,339.630005,337.910004,339.179993,334.377167,1943100
...,...,...,...,...,...,...
2021-04-23,379.570007,384.459991,379.459991,383.029999,380.487335,3781100
2021-04-26,383.730011,384.450012,383.320007,383.859985,381.311798,3125200
2021-04-27,384.200012,384.380005,382.720001,383.739990,381.192627,3370600
2021-04-28,384.100006,385.170013,383.239990,383.559998,381.013824,3960400
2021-04-29,386.399994,386.739990,382.809998,386.119995,383.556824,4209900

In [8]:
MARA_df.to_csv("MARA_df.csv")
SONY_df.to_csv("SONY_df.csv")
EA_df.to_csv("EA_df.csv")
AMC_df.to_csv("AMC_df.csv")
GME_df.to_csv("GME_df.csv")
VOO_df.to_csv("VOO_df.csv")

In [ ]:
# tsla_df['Open'].plot(label='Tesla', figsize=(16,8), title='Open Price')
# mara_df['Open'].plot(label='Mara')
# voo_df['Open'].plot(label='Voo')